# Temporary or local cache files
/Library
/Temp

# OS Generated
*.DS_Store
.DS_Store?
*/.ipynb_checkpoints
*/.idea
*.pyc
*.idea/misc.xml
*.idea/modules.xml
*.idea/
*.iml
*.cache
*/build/
*/dist/
*.egg-info*
*.eggs*
*.gitignore.swp

# VSCode hidden files
*.vscode/
